{{> head }}

    {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>hola mundo mi logo </h1>
    </div>   

    <div class="col-4">
        <img src="asses/img/logo.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}
